---
/** Renders the "follow progress" call-to-link section pointing to the GitHub repo. */
import styles from "./FollowProgress.module.scss";
import { useTranslations, type Locale } from "../i18n";

const t = useTranslations((Astro.currentLocale ?? "en") as Locale);
---

<section
  id="follow-progress"
  class={styles["follow-progress"]}
  aria-labelledby="follow-progress-heading"
>
  <div class="wrap" data-reveal>
    <h2 id="follow-progress-heading">{t.followProgress.heading}</h2>
    <p class={styles.body}>{t.followProgress.body}</p>
    <a class={styles.link} href="https://github.com/kevinle3212/sensebridge">
      {t.followProgress.link}
    </a>
  </div>
</section>
